* {
	font-family: Arial, Helvetica, sans-serif;
}

.App {
	text-align: center;
	display: flex;
	height: 100vh;
}

.sidebar {
	min-width: 300px;
	border-right: 1px solid #000;
	background-color: rgb(205, 205, 205);
}

.form-flex {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
}

.add-post-form {
	width: 600px;
	margin: auto;
}

.form-row {
	display: flex;
	margin: 20px auto;
	align-items: center;
}

.form-row label {
	width: 100px;
	font-size: 1.2rem;
	font-weight: 700;
}

.form-row input, .form-row textarea {
	width: 100%;
}

.form-row #body {
	height: 100px;
}

.sidebar-post {
	border-bottom: 1px solid #000;
	list-style-type: none;
	background-color: rgb(241, 241, 241);
	padding: 1px;
}

.sidebar-post:first-child {
	border-top: 1px solid #000;
}

.side-title {
	cursor: pointer;
	width: fit-content;
	margin: 20px auto;

	font-size: 1.2rem;
	font-weight: 700;
}

.side-title:hover {
	color: rgb(109, 4, 214);
}

ul {
	margin: 0;
	padding-left: 0;
}

.post-wrapper, .edit-post-wrapper, .add-post-form {
	margin: auto;
	max-width: 80%;
}

main {
	width: 100%;
}

main header {
	display: flex;
	justify-content: flex-end;
	padding: 20px 20px 0 0;
}

main header button {
	margin-left: 10px;
}

.main-title, #edit-title, #title {
	font-size: 2rem;
	font-weight: 700;
}

.main-body, #edit-body, #body {
	font-size: 1.5rem;
	margin: 30px 0;
}

.edit-post-wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 70px;
}

#edit-title, #edit-body {
	text-align: center;
}

#edit-body, #body {
	resize: vertical;
	height: 50vh;
}

.edit-buttons {
	display: flex;
	justify-content: flex-end;
}

.edit-buttons button {
	margin-left: 20px;
}

button {
	padding: 10px;
	font-size: 1.2rem;
	border-radius: 7px;
	border: 1px solid #000;
}

button:hover {
	filter: brightness(90%);
}

#add-post, #add, #save  {
	background-color: rgb(131, 189, 131);
}

#delete {
	background-color: rgb(232, 156, 156);
}

#add-post {
	margin: 10px auto; 
	width: 92%;
}

#add {
	width: 100px;
}