.App {
	text-align: center;
	display: flex;
	height: 100vh;
}

.sidebar {
	min-width: 300px;
	border-right: 1px solid #000;
	background-color: rgb(205, 205, 205);
}

.form-flex {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
}

.add-post-form {
	width: 600px;
	margin: auto;
}

.form-row {
	display: flex;
	margin: 20px auto;
}

.form-row label {
	width: 100px;
}

.form-row input, .form-row textarea {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.form-row #body {
	height: 100px;
}

.sidebar-post {
	border-bottom: 1px solid #000;
	list-style-type: none;
	background-color: rgb(241, 241, 241);
	padding: 1px;
}

.side-title {
	cursor: pointer;
	width: fit-content;
	margin: 20px auto;

	font-size: 1.2rem;
	font-weight: 700;
}

.side-title:hover {
	color: rgb(109, 4, 214);
}

ul {
	margin: 0;
	padding-left: 0;
}

.post-wrapper {
	margin: auto;
	max-width: 80%;
}

main {
	width: 100%;
}

.main-title {
	font-size: 2rem;
	font-weight: 700;
}

.main-body {
	font-size: 1.5rem;
}